# POI Preprocessing

**Data Source:** 

https://www.localdata.go.kr/devcenter/dataDown.do?menuNo=20001 

(지역 다운로드 (Local download) -> [Metropolitan_Area|Province] -> XML)

**Input:** 

  ./[Metropolitan_Area|Province]/*_XML.zip

  ../subway/network_nodes.json  *(Preprocessed subway network)*


**Output:** 

  ./poi.ftr

In [1]:
import glob
from tqdm import notebook

!pip install lxml
!pip install pygeos

for z_path in notebook.tqdm(glob.glob('./*/*.zip')):
  dir_path = z_path[:-4]
  !unzip -nq -I EUC-KR {z_path} -d {dir_path}

Requirement already satisfied: lxml in /home/daniel/.local/lib/python3.8/site-packages (4.6.3)
Requirement already satisfied: pygeos in /home/daniel/.local/lib/python3.8/site-packages (0.10.2)
Requirement already satisfied: numpy>=1.13 in /home/daniel/.local/lib/python3.8/site-packages (from pygeos) (1.21.4)

  0%|          | 0/5 [00:00<?, ?it/s]

**Convert to csv**

In [2]:
import glob
from lxml import etree
from os import mkdir
from os.path import isfile, dirname, basename, isdir
import csv

# create csv directories
for xml_dir in glob.glob('./*/*_XML'):
  csv_dir = dirname(xml_dir) + '/' + basename(xml_dir).replace('XML', 'CSV')
  if not isdir(csv_dir):
    mkdir(csv_dir)

for f_path_xml in notebook.tqdm(glob.glob('./*/*/*.xml')):
  xml_dir = dirname(f_path_xml)
  dir_csv = dirname(xml_dir) + '/' + basename(xml_dir).replace('XML', 'CSV')
  f_path_csv = dir_csv + '/' + basename(f_path_xml).replace('xml', 'csv')
  if isfile(f_path_csv):
    continue
  doc = etree.parse(f_path_xml)
  root = doc.getroot()
  header = root[0]
  row_cnt = {r.tag:int(r.text) for r in header[1]}['totalCount']
  if row_cnt == 0: # skip empty files
    continue
  header = [e.tag for e in header[0]]
  rows = root[1][0]
  assert len(rows) == row_cnt
  with open(f_path_csv, 'w', newline='') as f:
    writer = csv.writer(f, delimiter=',')
    writer.writerow(header)
    for row in rows:
      row = {e.tag: e.text for e in row}
      writer.writerow([row[e] for e in header])

  0%|          | 0/950 [00:00<?, ?it/s]

**Get data**

In [3]:
def load_subway():
  net_nodes = pd.read_json('../subway/network_nodes.json')
  net_nodes = gpd.GeoDataFrame(
    net_nodes, geometry=gpd.points_from_xy(x=net_nodes.lng, y=net_nodes.lat), crs='EPSG:4326'
  )
  net_nodes.to_crs(kor_crs, inplace=True)
  net_nodes = net_nodes[['station_id', 'geometry']]
  net_nodes.set_index('station_id', inplace=True)
  return net_nodes

In [4]:
import pandas as pd
import geopandas as gpd
from collections import OrderedDict
import datetime
from datetime import datetime as dt

# date boundaries
i_min_date = 20170101
i_max_date = 20201231
min_date = dt.strptime(str(i_min_date), '%Y%m%d').date()
max_date = dt.strptime(str(i_max_date), '%Y%m%d').date()
min_valid_date = pd.Timestamp.min.date()
max_valid_date = pd.Timestamp.max.date()

# columns loaded from each csv file
load_cols = [
  'bplcNm', # business name
  'opnSvcNm', # POI type
  'apvPermYmd', # business start date
  'dcbYmd', # business closure date
  'x', 'y' # location (korean crs)
]

# used to filter dataframes
selected_cols = ['poi_id', 'opnSvcNm', 'apvPermYmd', 'dcbYmd']

# Korean coordinate ref. system
kor_crs = "+proj=tmerc +lat_0=38 +lon_0=127.0028902777778 +k=1 +x_0=200000 +y_0=500000 "\
            "+ellps=bessel +units=m +no_defs +towgs84=-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43"

net_nodes = load_subway()
poi_to_stations = dict() # map POIs to their adjacent stations
poi_types = set()

def str_to_date(date: str):
  # avoid parsing irrelevant dates
  i_date = int(date)
  if i_date < i_min_date:
    return min_valid_date
  elif i_date > i_max_date:
    return max_valid_date
  # parse date
  return pd.to_datetime(date, format='%Y%m%d').date()

def load_df(path: str):
  df = pd.read_csv(path, dtype=str, engine='c', usecols=load_cols, quotechar='"', index_col=False)
  # filter if df['x'] or df['y'] is null
  df = df[(df['x'] == df['x']) & (df['y'] == df['y'])]
  df['x'] = df['x'].astype(float)
  df['y'] = df['y'].astype(float)
  # convert to GeoDataFrame
  df = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(x=df.x, y=df.y), crs=kor_crs, copy=False
  )
  # keep significant POIs only (500m or less from at least one subway station)
  df: gpd.GeoDataFrame = df.sjoin_nearest(net_nodes, how='left', max_distance=501, distance_col='nearest_dist')
  df = df[(df['nearest_dist'].notna()) & (df['nearest_dist'] <= 500)]
  # fix date columns
  df['apvPermYmd'].fillna(value='', inplace=True)
  df['apvPermYmd'] = [str_to_date(date) if (len(date) > 0 and date.isdigit()) else min_valid_date for date in df['apvPermYmd']]
  df['dcbYmd'].fillna(value='', inplace=True)
  df['dcbYmd'] = [str_to_date(date) if (len(date) > 0 and date.isdigit()) else max_valid_date for date in df['dcbYmd']]
  # filter by date (poi must be active in the relevant time period range)
  df = df[(df['apvPermYmd'] <= max_date) & (df['dcbYmd'] >= min_date)]
  # poi 'unique ID'
  df['poi_id'] = list(zip(df['x'], df['y'], df['opnSvcNm'], df['bplcNm']))
  df.drop_duplicates(subset='poi_id', inplace=True, ignore_index=True)
  # map POIs to their adjacent stations
  distances: pd.DataFrame = df.geometry.apply(lambda g: net_nodes.distance(g))
  assert len(df) == len(distances)
  poi_types.update(df['opnSvcNm'].unique())
  for i, poi_id in enumerate(df['poi_id']):
    if poi_id in poi_to_stations:
      continue
    assert not poi_id in poi_to_stations
    dist: pd.Series = distances.iloc[i]
    poi_to_stations[poi_id] = list(dist[dist<=500].index)
  return df[selected_cols]
  
df: pd.DataFrame = pd.concat([load_df(f_path) for f_path in notebook.tqdm(glob.glob('./*/*/*.csv'))], ignore_index=True, copy=False)
print(df.shape)
df.head(5)

  0%|          | 0/901 [00:00<?, ?it/s]

(887184, 4)

,poi_id,opnSvcNm,apvPermYmd,dcbYmd
0,"(263363.74960516, 484877.145433762, 병원, 강남병원)",병원,1677-09-21,2262-04-11
1,"(263367.468807365, 485228.657869581, 의원, 박영준이비...",의원,1677-09-21,2262-04-11
2,"(263206.939573518, 484886.270109221, 의원, 아름다운성...",의원,2019-12-17,2262-04-11
3,"(263333.344644982, 484873.235152707, 의원, 맑은정신건...",의원,2019-12-11,2262-04-11
4,"(263258.305781379, 484735.765755389, 의원, 조도연정형...",의원,1677-09-21,2262-04-11

In [5]:
print('\nPOI IDS TO STATIONS:')
for poi_id, stations in list(poi_to_stations.items())[:15]:
  print(f'{poi_id}: {stations}')
print(f'\nPOI TYPES: LEN: {len(poi_types)}\n{poi_types}')
print('\nDF COLUMNS:')
print(df.columns.values)

POI IDS TO STATIONS:
(263363.74960516, 484877.145433762, '병원', '강남병원'): [88]
(263367.468807365, 485228.657869581, '의원', '박영준이비인후과의원'): [88]
(263206.939573518, 484886.270109221, '의원', '아름다운성형외과의원'): [88]
(263333.344644982, 484873.235152707, '의원', '맑은정신건강의학과의원'): [88]
(263258.305781379, 484735.765755389, '의원', '조도연정형외과의원'): [88]
(263333.344644982, 484873.235152707, '의원', '변미숙산부인과의원'): [88]
(263258.305781379, 484735.765755389, '의원', '연세하루치과의원'): [88]
(263141.943193102, 484821.289677657, '의원', '햇살따뜻한의원'): [88]
(263284.0, 484649.0, '의원', '중화당한의원'): [88]
(262963.840066719, 479705.968241861, '의원', '춘천시신동면보건지소'): [78]
(248958.043055216, 481428.278229766, '의원', '춘천시남산면서천보건진료소'): [66]
(263206.939573518, 484886.270109221, '의원', '아름다운산부인과의원'): [88]
(263333.344644982, 484873.235152707, '의원', '강남S치과의원'): [88]
(263688.019874403, 484406.437950693, '의원', '삼기당한의원'): [88]
(263644.806778994, 484353.027957445, '의원', '올리브치과의원'): [88]

POI TYPES: LEN: 179
{'사료제조업', '목재수입유통업', '건설폐기물처리업', '식육포장처리업', '부속의료기관', '영화수입업', '동물용의료용구판매업', '일반도시가스업체', '골프장', '식품첨가물제조업', '의료기기판매(임대)업', '전력기술감리업체', '산후조리업', '국내여행업', '원목생산업', '가축분뇨 수집운반업', '관광사업자', '단란주점영업', '분뇨수집운반업', '외국인전용유흥음식점업', '저수조청소업', '대기오염물질배출시설설치사업장', '병원', '식품자동판매기업', '위탁급식영업', '전통사찰', '외국인관광도시민박업', '숙박업', '청소년게임제공업', '동물용의약품도매상', '가축사육업', '미용업', '승마장업', '옥외광고업', '제과점영업', '이용업', '도축업', '출판사', '관광유흥음식점업', '축산물운반업', '계량기제조업', '의료기기수리업', '계량기증명업', '쓰레기종량제봉투판매업', '일반유원시설업', '특정고압가스업', '골프연습장업', '비디오물소극장업', '복합유통게임제공업', '안경업', '응급환자이송업', '식품제조가공업', '건강기능식품유통전문판매업', '식품운반업', '대중문화예술기획업', '동물판매업', '건강기능식품일반판매업', '승강기유지관리업체', '관광유람선업', '휴게음식점', '의료기관세탁물처리업', '복합영상물제공업', '요양보호사교육기관', '한옥체험업', '유료직업소개소', '유통전문판매업', '지하수정화업체', '집단급식소', '국외여행업', '석유판매업', '축산판매업', '무도학원업', '즉석판매제조가공업', '비디오물배급업', '식용얼음판매업', '수질오염원설치시설(기타)', '문화예술법인', '가축분뇨배출시설관리업(사업장)', '관광식당', '체력단련장업', '국제회의시설업', '액화석유가스용품제조업체', '건물위생관리업', '축산물보관업', '온라인음악서비스제공업', '세탁업', '통신판매업', '빙상장업', '게임물제작업', '집유업', '용기냉동기특정설비', '무료직업소개소', '환경관리대행기관', '관광극장유흥업', '동물병원', '동물약국', '일반게임제공업', '공연장', '의료유사업', '일반여행업', '무도장업', '수영장업', '영화상영업', '다단계판매업체', '집단급식소식품판매업', '제재업', '음반.음악영상물제작업', '담배수입판매업체', '약국', '노래연습장업', '용기·포장지제조업', '장례지도사 교육기관', '종합유원시설업', '물류주선업(국제)', '비디오물제작업', '가축인공수정소', '체육도장업', '전력기술설계업체', '민방위급수시설', '유흥주점영업', '박물관, 미술관', '개인하수처리시설관리업(사업장)', '관광공연장업', '음반물제작업', '비디오물감상실업', '음반물배급업', '소독업', '후원방문판매업체', '국제회의기획업', '석유및석유대체연료판매업체', '환경전문공사업', '배출가스전문정비사업자(확인검사대행자)', '담배도매업', '일반음식점', '의원', '행정사업', '관광숙박업', '계량기수리업', '물류창고업체', '종합휴양업', '안전상비의약품 판매업소', '지방문화원', '축산가공업', '유원시설업(기타)', '당구장업', '종합체육시설업', '영화배급업', '치과기공소', '게임물배급업', '썰매장업', '음반.음악영상물배급업', '환경컨설팅회사', '고압가스업', '식품냉동냉장업', '환경측정대행업', '비디오물시청제공업', '시내순환관광업', '식품소분업', '담배소매업', '일반야영장업', '단독정화조/오수처리시설설계시공업', '영화상영관', '식품판매업(기타)', '지하수시공업체', '의료법인', '상조업', '인쇄사', '승강기제조및수입업체', '급수공사대행업', '방문판매업', '전화권유판매업', '목욕장업', '민방위대피시설', '영화제작업', '계량기수입업', '대규모점포', '인터넷컴퓨터게임시설제공업', '자동차야영장업', '지하수영향조사기관'}

DF COLUMNS:
['poi_id' 'opnSvcNm' 'apvPermYmd' 'dcbYmd']

In [6]:
def process_poi(df: pd.DataFrame):
  keys = OrderedDict()
  data = {poi_type:[] for poi_type in poi_types}
  for poi_id, poi_type, start_date, close_date in notebook.tqdm(df.itertuples(index=False), total=len(df)):
    for date in pd.date_range(start=max(start_date, min_date), end=min(close_date, max_date)):
      date = date.date()
      for station_id in poi_to_stations[poi_id]:
        key = (date, station_id)
        if key in keys:
          data[poi_type][keys[key]] += 1
        else:
          keys[key] = len(data[poi_type])
          for poi_t, l in data.items():
            l.append(1 if poi_t == poi_type else 0)
  data = pd.DataFrame(data, index=pd.MultiIndex.from_tuples(keys.keys(), names=['date', 'station_id']), copy=False)
  return data

df = process_poi(df)
print(df.shape)
df.sort_index(inplace=True)
df.reset_index(inplace=True, drop=False)
df.to_feather('poi.ftr')
df.head(15)

  0%|          | 0/887184 [00:00<?, ?it/s]

(759562, 179)

/tmp/ipykernel_29757/3203553540.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df.reset_index(inplace=True, drop=False)

,date,station_id,사료제조업,목재수입유통업,건설폐기물처리업,식육포장처리업,부속의료기관,영화수입업,동물용의료용구판매업,일반도시가스업체,...,방문판매업,전화권유판매업,목욕장업,민방위대피시설,영화제작업,계량기수입업,대규모점포,인터넷컴퓨터게임시설제공업,자동차야영장업,지하수영향조사기관
0,2017-01-01,0,0,0,0,1,0,0,0,0,...,9,0,0,4,2,0,0,20,0,0
1,2017-01-01,1,0,0,1,5,0,0,0,0,...,13,4,3,3,0,0,1,8,0,0
2,2017-01-01,2,23,2,1,3,0,0,0,0,...,67,12,5,5,2,0,2,21,0,0
3,2017-01-01,3,7,4,0,2,0,1,0,0,...,138,57,1,2,16,0,3,15,0,1
4,2017-01-01,4,1,0,1,0,0,0,0,0,...,11,0,4,7,3,0,3,15,0,0
5,2017-01-01,5,1,0,1,0,0,0,0,0,...,19,1,3,8,1,0,1,33,0,0
6,2017-01-01,6,0,0,0,0,0,1,0,0,...,5,1,2,8,7,0,2,5,0,0
7,2017-01-01,7,0,0,0,0,0,0,0,0,...,8,0,1,6,0,0,0,2,0,0
8,2017-01-01,8,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,2017-01-01,9,2,0,0,2,0,0,0,0,...,18,5,2,14,0,0,3,4,0,0
10,2017-01-01,10,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2017-01-01,11,2,3,0,0,2,8,1,0,...,131,22,3,6,27,0,3,28,0,0
12,2017-01-01,12,3,0,0,0,0,11,1,0,...,34,10,7,9,53,0,3,18,0,1
13,2017-01-01,13,5,0,1,1,0,2,0,0,...,58,14,2,16,3,0,7,41,0,0
14,2017-01-01,14,6,1,0,2,0,0,1,0,...,39,6,3,10,1,0,3,5,0,1